.contract-list {
	li {
		align-items: flex-start;
	}

	.contract-list li::marker {
  		font-weight: 900; /* bold numbers */
	    color: #374151;
	}

	.list-number {
		min-width: 48px; // keeps numbers aligned
		font-weight: 600;
	}

	.list-text {
		text-align: justify;
		line-height: 1.6;
	}
	.head-text {
		font-size: 15px;
	}
}

