.contract {
	font-size: 13px; // base font size for entire contract section
	.header-contract {
		margin-top: 290px;
	}
	.marginTop-space-doc {
		margin-top: 80px !important;
	}
	.footerContract-section {
		margin-top: 450px;
	}
	.respiteContract-footer {
		margin-top: 400px;
	}

	.contract-list {
		li {
			align-items: flex-start;
		}

		li::marker {
			font-weight: 900;
			color: #374151;
		}

		.list-number {
			min-width: 48px;
			font-weight: 600;
		}

		.list-text {
			text-align: justify;
			line-height: 1.6;
		}

		.head-text {
			font-size: 15px; // override when needed
		}
	}
}

.welcome-letter {
	font-size: 14px;
	box-shadow: unset !important;
	padding: 10px 12px 5px 12px !important;

	.welcomeLetter-footer {
		line-height: 0.5;
	}
	.feesincrement-letter {
		margin-top: 40px !important;
		line-height: 1;
		p {
			margin-bottom: 5px;
		}
	}
	.RespiteLetter-footer {
		margin-top: 200px !important;
		line-height: 1.2;
		p {
			margin-bottom: 5px;
		}
	}
	.permanentLetter-footer {
		margin-top: 120px !important;
		line-height: 1.2;
		p {
			margin-bottom: 5px;
		}
	}
	.privatePermanent-welcomeLetter {
		margin-top: 10px !important;
		line-height: 0.8;
		p {
			margin-bottom: 5px;
		}
	}
	.permanentCC-welcomeLetter {
			margin-top: 20px !important;
		line-height: 1;
		p {
			margin-bottom: 5px;
		}
	}
	.respiteCC-welcomeFooter {
		line-height: 1;
		p {
			margin-bottom: 5px;
		}
	}
	.RespiteLetterPrivate-footer {
		margin-top: 20px !important;
		line-height: 0.8;
		p {
			margin-bottom: 5px;
		}
	}
}
